/*text-shadow: 2px 2px 2px black;*/


:root {
    scroll-behavior: smooth;
}


body {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  color: #48494a;

}

.layout_padding {
  padding: 75px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding-top {
  padding-top: 75px;
}

.layout_padding-bottom {
  padding-bottom: 75px;
}

.call_to-btn {
  display: inline-block;
  padding: 12px 20px;
  border-radius: 10px;
  font-size: 15px;
  text-transform: uppercase;
  background-color: #fec913;
  
  

  border: 1px solid transparent;
  color: #fff;
  transition: all 0.3s ease 0s;
}

.hero_section .call_to-btn {
  padding: 12px 35px;
}

.call_to-btn img {
  width: 18px;
  margin-left: 10px;
}

.btn_on-hover {
  transition: all 0.3s ease 0s;
}

.call_to-btn:hover,
.btn_on-hover:hover {
  color: #fff;
  -webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.7);
  color: #fff;
  transform: translateY(-7px);
}

.main-heading {
  color: #800080;
  text-shadow: 1px 1px 1px black;
  font-weight: bold;
  text-align: center;
  scroll-behavior: smooth;
}

/*header section*/

.header_section {
  position:fixed ;
  width: 100%;
  background-color:#800080;
  z-index: 9999;
  scroll-behavior: smooth;
  
  /*padding-top: 10px;*/
}

nav.navbar.navbar-expand-lg {
  scroll-behavior: smooth;
  padding: 8px 0;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
  padding: 10px 20px;
  /*color: #2d2c2c;*/
  color: #63e108;

  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  scroll-behavior: smooth;

}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item.active .nav-link {
  scroll-behavior: smooth;

  /*color: #232323;*/
  color: #3cd10f;

}

a,
a:hover,
a:focus {
  text-decoration: none;
  scroll-behavior: smooth;

}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  box-shadow: none;
  scroll-behavior: smooth;

}

.top_container {
  height: 95vh;
  position: relative;
  scroll-behavior: smooth;
}

.top_container::before {
  content: "";
  position: absolute;
  width: 48%;
  height: 100%;
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
  z-index: -1;
  scroll-behavior: smooth;
}

.top_container.sub_pages::before {
  background-size: 400px 200px;
  background-position: top left;
  scroll-behavior: smooth;
}

.top_container.sub_pages {
  height: 35vh;
  scroll-behavior: smooth;

}

.top_container.sub_page {
  height: auto;
  scroll-behavior: smooth;

}

.navbar-brand img {
  width: 25px;
  margin-right: 7px;
  scroll-behavior: smooth;

}


.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);
  background-size: 22px;
  background-repeat: no-repeat;
  background-position-y: 7px;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
  scroll-behavior: smooth;
}

.navbar-brand {
  display: flex;
  align-items: center;
  scroll-behavior: smooth;
}

.navbar-brand span {
  font-size: 20px;
  font-weight: 700;
  color: #fefefe;
}

.custom_nav-container {
  z-index: 99999;
  padding: 15px 0;
  scroll-behavior: smooth;

}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 40px;
  scroll-behavior: smooth;

}

/*end header section*/

/* hero section */
.hero-container {
  display: flex;
  padding-top: 50px;
  padding-bottom: 75px;
}

.hero_detail-box {
  width: 45%;
}

.hero_img-container {
  width: 55%;
}

.hero_detail-box {
  color: #fefeff;
}

.hero_detail-box h1 {
  text-transform: uppercase;
  font-size: 50px;
  color: #fec913;
  font-weight: bold;
}


.hero_detail-box p {
  margin-top: 20px;
  margin-bottom: 35px;
}


/* end hero section */

/* about section */
.about_img-box {

  width: 55%;
  margin: 40px auto;
}

/* about section */

/* teacher container */

#profesionales{
  padding-top: 75px;
}

.teacher_section .card {
  padding-top: 10px;
  border: none;
  background-color: transparent;
  
}

.teacher_section .card-title {

  text-align: center;
  color: #b907dc;

}

/* end teacher container */

/* vehicle section */
.vehicle_img-box {
  border-style: groove solid 12px;
  width: 60%;
  margin: 0 auto;
}

.vehicle_section .carousel-control-prev,
.vehicle_section .carousel-control-next {
  opacity: 1;
}

.vehicle_section .carousel-control-prev-icon,
.vehicle_section .carousel-control-next-icon {
  width: 50px;
  height: 50px;
  background-color: #082465;
  border-radius: 100%;
  background-size: 10px;
  background-position: center;
}

.vehicle_section .carousel-control-prev-icon {
  background-image: url(../images/prev.png);
}

.vehicle_section .carousel-control-next-icon {
  background-image: url(../images/next.png);
}



/* end vehicle section */

/* client section */
.client_section {
  background-image: url(../images/shape-11.png);
  background-repeat: no-repeat;

  background-position: right;

  background-size: 20%;
}

.client_container {
  width: 80%;
  margin: 0 auto;
  padding: 35px;
  background-color: #fefeff;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(163, 158, 163, 1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(163, 158, 163, 1);
  box-shadow: 0px 0px 5px 0px rgba(163, 158, 163, 1);
  border-radius: 20px;
}

.client_detail-box h4 {
  color: #082465;
}

.client_detail-box span {
  text-transform: uppercase;
  color: #48494a;
}

.client_detail .client_img-box {
  width: 100px;
  margin-right: 15px;
}

.client_detail .client_img-box img {
  width: 100%;
}




/* end client section */


/* contact section */
#contact_size{
  padding-top: 80px;
}

.contact_section {
  background-image: url(../images/shape-12.png);
  background-repeat: no-repeat;
  background-size: 14%;
  background-position: left center;
}


.contact-form {
  padding: 25px;
  border-radius: 20px;

}

.contact-form input {
  border: none;
  outline: none;
  background-color: #a7a7e6;
  width: 100%;
  margin: 10px 0;
  padding: 7px 10px;
}

.contact-form .input_message {
  height: 120px;
}

.contact-form input::placeholder {
  color: rgb(0, 0, 0);
}

.contact-form button {
  border: none;
  outline: none;
  padding: 7px 50px;
  text-transform: uppercase;
  margin-top: 25px;
  /*background-color:#800080;*/
 
  background-color: #fec913;
  
  color: #fff;
}

/* end contact section */


/* admission section */


.admission_section .container-fluid.position-relative {
  height: 500px;
}

.admission_container {
  width: 770px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}


.admission_img-box {
  width: 50%;
  border-radius: 25px 0 0 25px;
  overflow: hidden;
}

.admission_detail {
  width: 50%;
  background-color: #082465;
  padding: 20px;
  color: #fefeff;
  border-radius: 0 25px 25px 0;
}


.admission_img-box img {
  width: 100%;
}

.admission_detail .admission_btn {
  background-color: #fec913;
  padding: 7px 35px;
  color: #fefeff;
  font-size: 15px;
  border-radius: 5px;
}

/* end admission section */

/* call section */
.call_section h2 {
  text-align: center;
  margin: 15px 0;
}

.landing_section .number_heading {
  color: #fec913;
}

.landing_section p {
  text-align: center;
  margin-top: 15px;
}

/* end call section */

/* footer section*/

.footer_section {
  background-color: #082465;
  padding: 20px 0;
  font-family: "Roboto", sans-serif;
}

.footer_section p {
  color: #fdfdfe;
  margin: 0;
  text-align: center;
}

.footer_section a {
  color: #fdfdfe;
}


/* end footer section*/



/*///////////////////////  footer grid /////////////////////////////////////*/

.grid-layout{
  display: grid;
  grid-template-columns: 40% 30% 30%;
  grid-template-rows: 50% 50%;
  width: 100%;
  margin-bottom: 0%;
  background-color: #4e4d4d;

  padding: 10px;
  border: 1px solid rgb(0, 0, 0);
}




.caja{
  height: 250px;
  background-color: #222222;
  text-align: center;
  text-shadow: black 2px 2px 0.8px;
  color:  #696969;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  border-right: 1px solid #696969;
}

.caja1{
  height: 250px;
  background-color: #222222;
  text-shadow: black 2px 2px 0.8px;
  color:  #696969;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-align: left;
}


.caja2{
  height: 250px;
  background-color: #222222;
  text-shadow: black 2px 2px 0.8px;
  color:  #696969;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-align: left;
  padding-right: 10px;

  
}


#dale{
  padding: 5px;
  font-size: 16px;
  color:  #696969;
  list-style: none;
  text-shadow: rgb(0, 0, 0) 2px 2px 0.8px;
  letter-spacing: 4px;
}

#dale1{
  font-style: italic;
  padding: 5px 0px 0px 0px;
  font-size: 16px;
  color:  #696969;
  list-style: none;
  text-shadow: rgb(0, 0, 0) 2px 2px 0.8px;
  padding-right: 10px;
  
}


.alco{
  text-decoration: none;
}



.im{
  width: 45%;
  margin: 0 auto;
  padding-top: 20px;
}

/*color: rgb(201, 182, 182); */




/*///////////////////////  footer grid /////////////////////////////////////*/


@media (max-width: 640px) {
  .grid-layout {

      width: 100%;

  }

  .hache{

    font-size: 14px;
  }


  .caja {
    width: 100%;

  }

  .caja2 {
    width: 100%;

  }

  #dale{
    font-size: 10px;
  }

  #dale1{
    font-size: 8px;
  }

}



@media (max-width: 400px) {
  .grid-layout {

      width: 100%;

  }

  .hache{

    font-size: 6px;
  }


  .caja {
    width: 100%;

  }

  .caja2 {
    width: 100%;

  }

  #dale{
    font-size: 6px;
    z-index: 998;
  }

  #dale1{
    font-size: 4px;
  }

}



/*///////////////////////  grid opciones /////////////////////////////////////*/
#boton-contacto{
  background-color: #c905c9;;
}

#text_pricipal{
  font-weight: 700;
  font-size: 24px;
  margin-top: 20%;
  color:#800080;
}

#despe{
  color:#fbdb04 ;
  
}

#name-bar{
  color: white;
  text-shadow: 2px 2px 2px black;

}

#dato-bar{
  color: white;
}

.nave > li {
    float:left;
    list-style:none;

  }
  
  .nave li a {
    background-color:#800080;
    color:#fff;
    text-shadow: 2px 2px 2px black;
    text-decoration:none;
    padding:10px 12px;
    display:block;
  }

  #lili{
    background-color:transparent;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;

  }

  
  .nave li a:hover {
    background-color:#960696;

  }
  
  .nave li ul {
    display:none;
    position:absolute;
    min-width:140px;
    list-style:none;

  }
  
  .nave li:hover > ul {
    display:block;

  }
  
  .nave li ul li {
    position:relative;
    list-style:none;

  }
  
  .nave li ul li ul {
    right:-140px;
    top:0px;


  }

/*///////////////////////  ARTICULO 1 /////////////////////////////////////*/
#imagen_art1 {
  width: 100%;
}

#imagen_articulo{
  border: groove 10px rgb(235, 200, 232);
}

